@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #f84600;
  --color-secondary: #FE9802;
  --color-tertiary: #7a8370;
  --color-ecolodge: #00c951;
  --color-accent: #f0f0d8;
  --color-background: #000000;    
}

* {
  font-family: 'Outfit', sans-serif;
}

.font-playfair {
  font-family: 'Playfair', serif !important;
}

.paragraph {
  font-size: 2.5rem;
  line-height: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem;
}

.word {
  transition: opacity 0.3s ease;
}
